server-ip=0.0.0.0
server-port=25565
level-seed={SEED}
gamemode={GAMEMODE}
difficulty={DIFFICULTY}
max-players={MAX_PLAYERS}
motd={MOTD}
server-name=EyeSMP
online-mode={ONLINE_MODE}
enforce-whitelist={WHITELIST}
view-distance={VIEW_DISTANCE}
simulation-distance={SIMULATION_DISTANCE}
enable-query=true
query.port=25565
level-name={LEVEL_NAME}
allow-nether={ALLOW_NETHER}
allow-end={ALLOW_END}
enable-command-block={COMMAND_BLOCK}
spawn-protection={SPAWN_PROTECTION}
pvp={PVP}
require-resource-pack={RESOURCE_PACK}
